apiVersion: v1
kind: Service
metadata:
  name: python-app-service
spec:
  type: NodePort
  selector:
    app: python-app
  ports:
  - name: http
    port: 5000
    targetPort: 5000
    nodePort: 30007
    protocol: TCP